* {
    user-select: none;
    font-family: 'Itim', cursive;
}

body {
    background: radial-gradient(circle, rgba(0, 212, 255, 1) 52%, rgba(126, 119, 255, 1) 100%);
    background-attachment: fixed;
}

@font-face {
    font-family: Pixel; src: url('../fonts/pixel.ttf'); 
}

/*:root {
    --actop: 92px;
}*/

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

#cookie {
    max-width: 200px;
    height: auto;
    cursor: pointer;
    transition: .2s transform cubic-bezier(.47,1.64,.41,1.2);
    margin: auto;
    display: inline-block;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent; /* Fix pro mobily */
}

#cookie:hover {
    transform: scale(1.1);
}

#cookie:active {
    transition: .05s transform ease;
    transform: scale(0.98);
}

.cookie-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#counter {
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
    font-size: 3rem;
    color: white;
    margin-bottom: 0;
}

.filler {
    margin-top: 3rem;
    pointer-events: none;
}

.setting {
    margin-top: 8px;
    margin-bottom: 8px;
    color: #ffb5b5;
    transition: .2s color;
    cursor: pointer;
}

.button {
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
    font-size: 1.5rem;
    color: white;
    padding: 8px;
    border: 3px solid white;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.1);
    user-select: none;
    backdrop-filter: blur(2px);
}

button.button {
    pointer-events: none;
    outline: 0px;
    outline-color: transparent;
    opacity: 0.7;
    cursor: pointer;
    margin: 12px;
    margin-left: 0;
    margin-bottom: 0;
    width: fit-content;
}

.center {
    margin-left: auto!important;
    margin-right: auto!important;
}

.button-themes {
    margin: 0!important;
}

button.button:last-child {
    margin-right: 0;
}

.button-shop {
    transition: .4s opacity, .2s background-color, .3s outline-color;
}

.button-shop:hover {
    outline: 3px solid rgba(255, 255, 255, 0.3);
    background: rgba(0, 0, 0, 0.15);
}

#buy-upgrade-1 {
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #f857a6, #ff957a);
    border-radius: 0;
}

.settings {
    position: absolute;
    left: 8px;
    top: 8px;
    width: fit-content;
    text-align: left;
    margin: auto;
    display: none;
}

.box-button {
    color: white;
    opacity: 0.7;
    cursor: pointer;
    transform: translateY(3px);
    transition: .05s opacity;
    float: right;
}

.box-button:hover {
    opacity: 1;
}

.cost {
    font-size: 14px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
}

.shop {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.shop-upgrade {
    display: flex;
    flex-direction: column;
    justify-content: center!important;
}

.achievement {
    text-align: left;
    display: inline-block;
    margin-bottom: 8px;
}

/* picovina fuj
.achievement-place div:nth-child(2) {
    top: var(--actop);
}

.achievement-place div:nth-child(3) {
    top: calc(var(--actop) * 2);
}

.achievement-place div:nth-child(4) {
    top: calc(var(--actop) * 3);
}
*/

.achievement-place {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 8px;
    z-index: 99;
}

#ac1,
#ac2,
#ac3,
#ac4 {
    display: none;
}

.flex {
    display: flex;
}

.rainbow {
    animation: infinite rainbow 2s linear;
}

@keyframes rainbow {
    from {
        filter: hue-rotate(0deg) saturate(2.5);
    }

    to {
        filter: hue-rotate(360deg) saturate(2.5);
    }
}

.fade-out {
    animation: ease-out fade-out 2001ms;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.nav {
    position: absolute;
    right: 8px;
    top: 8px;
    user-select: none;
}

.navbar {
    color: white;
    opacity: 0.7;
    cursor: pointer;
    font-size: 3rem;
    transition: .05s opacity;
}

.navbar:hover {
    opacity: 1;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 8px;
}

.dropdown button {
    opacity: 1;
    transition: .2s opacity;
}

.dropdown:hover button {
    opacity: 0.7;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    z-index: 1;
    text-shadow: none;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    transition: .2s background, .6s cubic-bezier(0.165, 0.84, 0.44, 1) padding-left;
}

.dropdown-content a:hover {
    background: rgba(0, 0, 0, 0.2);
    padding-left: 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.click-text {
    position: absolute;
    user-select: none;
    pointer-events: none;
    color: white;
    font-size: 1.5rem;
    font-family: inherit;
    animation: click-text 2s;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
    -webkit-user-drag: none;
}

@keyframes click-text {
    from {
        opacity: 1;
        transform: translateY(0px);
    }

    to {
        opacity: 0;
        transform: translateY(-18px);
    }
}

.per-second {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 3rem;
}

#th-def {
    background-image: linear-gradient(10deg, #00d4ff9f, #7e77ff9f);
}

#th-dark {
    background-image: linear-gradient(60deg, #7070709f, #3333339f);
}

#th-red {
    background-image: linear-gradient(90deg, #ff79799f, #ff4f4f9f);
}

#th-orange {
    background-image: linear-gradient(34deg, #f55c7b9f, #f6bc669f);
}

#th-violet {
    background-image: linear-gradient(90deg, #a08dce9f, #f492f09f);
}

#th-purple {
    background-image: linear-gradient(20deg, #c63f7b9f, #6631779f);
}

#th-pixel-art {
    background-image: url("../img/cookie_pixel.png");
    background-color: #00000046;
    text-shadow: 0px 0px 4px #00000085;
    background-size: cover;
}

#upgrade-image {
    transition: .2s filter;
    filter: grayscale(1);
    transform: translateY(6px);
}

#ac1 {
    border-color: #fac176;
}

#ac2 {
    border-color: #e3c62d;
}

#ac3 {
    border-color: #7bd8f7;
}

#ac4 {
    border-color: #a362ff;
}