* {
    user-select: none;
    font-family: 'Itim', cursive;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background: radial-gradient(circle, rgba(0, 212, 255, 1) 52%, rgba(126, 119, 255, 1) 100%);
    background-attachment: fixed;
    margin: 0;
}

:root {
    --width-1: calc(100% - 320px);
}

.all {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.container-1 {
    width: var(--width-1);
}

.container-2 {
    width: calc(100% - var(--width-1));
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.3);
    margin: 0;
    height: 100% !important;
    background-color: #00000013;
    backdrop-filter: blur(2px);
}

.container-2 h2 {
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 2.5rem;
    text-shadow: 0px 0px 8px #0000007a;
    background-image: url(../img/favicon.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.container-2 h3 {
    text-align: center;
    color: white;
    font-weight: normal;
    font-size: 1.75rem;
    text-shadow: 0px 0px 8px #0000007a;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.theme-h3 {
    background-image: url(../img/theme.png);
}

@media only screen and (max-width: 767px) {
    .all {
        flex-direction: column;
    }

    :root {
        --width-1: 100%;
    }

    .container-2 {
        width: 100%;
    }

    #buy-upgrade-1 {
        width: 320px!important;
        margin: auto!important;
    }

    .button-shop {
        width: 320px!important;
    }
}

@media only screen and (min-width: 768px) {
    #buy-upgrade-1,.button-shop {
        width: 296px!important;
    }
}

@media only screen and (max-width: 346px) {
    #buy-upgrade-1,.button-shop {
        width: calc(100% - 24px)!important;
    }
}

@font-face {
    font-family: Pixel;
    src: url('../fonts/pixel.ttf');
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

#cookie {
    max-width: 200px;
    height: auto;
    cursor: pointer;
    transition: .2s transform cubic-bezier(.47, 1.64, .41, 1.2);
    margin: auto;
    display: inline-block;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    /* Fix pro mobily */
}

#cookie:hover {
    transform: scale(1.1);
}

#cookie:active {
    transition: .05s transform ease;
    transform: scale(0.98);
}

.cookie-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#counter {
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
    font-size: 3rem;
    color: white;
    margin-bottom: 0;
}

.filler {
    margin-top: 3rem;
    pointer-events: none;
}

.setting {
    margin-top: 8px;
    margin-bottom: 8px;
    color: #ffb5b5;
    transition: .2s color;
    cursor: pointer;
}

.button {
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
    font-size: 1.5rem;
    color: white;
    padding: 8px;
    border: 3px solid white;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.1);
    user-select: none;
    backdrop-filter: blur(2px);
}

button.button {
    pointer-events: none;
    outline: 0px;
    outline-color: transparent;
    opacity: 0.7;
    cursor: pointer;
    margin: 12px;
    margin-top: 6px;
    width: fit-content;
}

button.button:first-child {
    margin-top: 0px;
}

button.button:last-child {
    margin-bottom: 18px;
}

.center {
    margin-left: auto !important;
    margin-right: auto !important;
}

.button-themes {
    margin: 0 !important;
}

.button-shop {
    transition: .4s opacity, .2s background-color, .3s outline-color;
    width: 296px;
    text-align: left;
}

.button-shop:hover {
    outline: 3px solid rgba(255, 255, 255, 0.3);
    background: rgba(0, 0, 0, 0.15);
}

#buy-upgrade-1 {
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #f857a6, #ff957a);
    border-radius: 0;
    text-align: center;
    margin-left: 12px;
    margin-right: 12px;
}

.theme-container {
    display: flex;
}

.theme-container button {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    transition: .4s opacity, .3s outline-color;
}

.theme-container button:hover {
    outline: 3px solid rgba(255, 255, 255, 0.3);
}

table {
    border-spacing: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    table-layout: fixed;
}

.settings {
    position: absolute;
    left: 8px;
    top: 8px;
    width: fit-content;
    text-align: left;
    margin: auto;
    display: none;
}

.box-button {
    color: white;
    opacity: 0.7;
    cursor: pointer;
    transform: translateY(3px);
    transition: .05s opacity;
    float: right;
}

.box-button:hover {
    opacity: 1;
}

.cost {
    font-size: 14px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
}

.shop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop-upgrade {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
}

.achievement {
    text-align: left;
    display: inline-block;
    margin-bottom: 8px;
}

/* picovina fuj
.achievement-place div:nth-child(2) {
    top: var(--actop);
}

.achievement-place div:nth-child(3) {
    top: calc(var(--actop) * 2);
}

.achievement-place div:nth-child(4) {
    top: calc(var(--actop) * 3);
}
*/

.achievement-place {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 8px;
    left: 8px;
    z-index: 99;
}

#ac1,
#ac2,
#ac3,
#ac4 {
    display: none;
}

.flex {
    display: flex;
}

.rainbow {
    animation: infinite rainbow 2s linear;
}

@keyframes rainbow {
    from {
        filter: hue-rotate(0deg) saturate(2.5);
    }

    to {
        filter: hue-rotate(360deg) saturate(2.5);
    }
}

.fade-out {
    animation: ease-out fade-out 2001ms;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.nav {
    position: absolute;
    user-select: none;
    width: var(--width-1);
    padding: 6px;
}

.navbar {
    color: white;
    opacity: 0.7;
    cursor: pointer;
    font-size: 3rem;
    transition: .05s opacity;
    float: right;
}

.navbar:hover {
    opacity: 1;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 8px;
}

.dropdown button {
    opacity: 1;
    transition: .2s opacity;
}

.dropdown:hover button {
    opacity: 0.7;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    z-index: 1;
    text-shadow: none;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    transition: .2s background, .6s cubic-bezier(0.165, 0.84, 0.44, 1) padding-left;
}

.dropdown-content a:hover {
    background: rgba(0, 0, 0, 0.2);
    padding-left: 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.click-text {
    position: absolute;
    user-select: none;
    pointer-events: none;
    color: white;
    font-size: 1.5rem;
    font-family: inherit;
    animation: click-text 2s;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
    -webkit-user-drag: none;
}

@keyframes click-text {
    from {
        opacity: 1;
        transform: translateY(0px);
    }

    to {
        opacity: 0;
        transform: translateY(-18px);
    }
}

.per-second {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 3rem;
}

#th-def,.th-def {
    background-image: linear-gradient(10deg, #00d4ff9f, #7e77ff9f);
}

#th-dark,.th-dark {
    background-image: linear-gradient(60deg, #7070709f, #3333339f);
}

#th-red,.th-red {
    background-image: linear-gradient(90deg, #ff79799f, #ff4f4f9f);
}

#th-orange,.th-orange {
    background-image: linear-gradient(34deg, #f55c7b9f, #f6bc669f);
}

#th-violet,.th-violet {
    background-image: linear-gradient(90deg, #a08dce9f, #f492f09f);
}

#th-purple,.th-purple {
    background-image: linear-gradient(20deg, #c63f7b9f, #6631779f);
}

#th-pixel-art,.th-pixel-art {
    background-image: url("../img/cookie_pixel.png");
    background-color: #00000046;
    text-shadow: 0px 0px 4px #00000085;
    background-size: cover;
}

#upgrade-image {
    transition: .2s filter;
    filter: grayscale(1);
    transform: translateY(6px);
}

#ac1 {
    border-color: #fac176;
}

#ac2 {
    border-color: #e3c62d;
}

#ac3 {
    border-color: #7bd8f7;
}

#ac4 {
    border-color: #a362ff;
}

.icon-shop {
    position: absolute;
    right: 8px;
    top: 23%;
}

.dropdown-content #th-dark,#th-red,#th-violet,#th-orange,#th-purple,#th-pixel-art {
    display: none;
}